
<link rel="stylesheet" href="docs.css"/>


<div class="container">
	<div class="row">
		<div class="col-xs-3 bootcards-list">
			<div class="docs-menu affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
				<ul class="docs-nav nav nav-pills nav-stacked">
					<li ng-repeat="item in docs.menu">
						<a ng-click="viewDoc(item.title)" href="" title="{{item.title}}">{{item.title}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9 bootcards-cards">




			<div ng-repeat="item in docs.menu" id="{{item.title}}">
				<div class="panel panel-default bootcards-richtext">
					<div class="panel-body">
						<div class="bs-docs-section">
							<h2>
								<a>
									{{item.title}}
								</a>
								</h2>
							<p class="lead">
								{{item.body}}
							</p>

							<div class="bs-example bs-example-type">
								<bootcards-list ng-model="myListModel"></bootcards-list>
							</div>

							<div class="highlight">
								<pre class="html hljs xml">
									&lt;bootcards-list ng-model=&quot;myListModel&quot;&gt;&lt;/bootcards-list&gt;
								</pre>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
</div>
