<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<meta charset="utf-8"/>
	<title>AngularJS Bootcards Example</title>
	<script>
		document.write('<base href="' + document.location + '" />');
	</script>
	<!-- Icons -->
	<link rel="shortcut icon" sizes="196x196" href="/bootcards-demo-app/images/apple-touch-icon-144x144.png">
	<link rel="shortcut icon" sizes="128x128" href="/bootcards-demo-app/images/apple-touch-icon-120x120.png">
	<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon" sizes="120x120" href="/bootcards-demo-app/images/apple-touch-icon-120x120.png">
	<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon" sizes="144x144" href="/bootcards-demo-app/images/apple-touch-icon-144x144.png">

	<!-- Splash Screen Images -->
	<!-- iOS 6 & 7 iPad (retina, portrait) -->
	<link href="/bootcards-demo-app/images/bootcards-splash-768x1004@2x.png"
				media="(device-width: 768px) and (device-height: 1024px)
		and (orientation: portrait)
		and (-webkit-device-pixel-ratio: 2)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPad (retina, landscape) -->
	<link href="/bootcards-demo-app/images/bootcards-splash-1024x748@2x.png"
				media="(device-width: 768px) and (device-height: 1024px)
		and (orientation: landscape)
		and (-webkit-device-pixel-ratio: 2)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (portrait) -->
	<link href="/bootcards-demo-app/images/bootcards-splash-1024x748.png"
				media="(device-width: 768px) and (device-height: 1024px)
		and (orientation: portrait)
		and (-webkit-device-pixel-ratio: 1)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (landscape) -->
	<link href="/bootcards-demo-app/images/bootcards-splash-768x1004.png"
				media="(device-width: 768px) and (device-height: 1024px)
		and (orientation: landscape)
		and (-webkit-device-pixel-ratio: 1)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone 5 -->
	<link href="/bootcards-demo-app/images/bootcards-splash-320x548@2x.png"
				media="(device-width: 320px) and (device-height: 568px)
		and (-webkit-device-pixel-ratio: 2)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone (retina) -->
	<link href="/bootcards-demo-app/images/bootcards-splash-320x460@2x.png"
				media="(device-width: 320px) and (device-height: 480px)
		and (-webkit-device-pixel-ratio: 2)"
				rel="apple-touch-startup-image">

	<!-- iOS 6 iPhone -->
	<link href="/bootcards-demo-app/images/bootcards-splash-320x460.png"
				media="(device-width: 320px) and (device-height: 480px)
		and (-webkit-device-pixel-ratio: 1)"
				rel="apple-touch-startup-image">

	<!-- Important: you'll only need one of the Bootcards CSS files below for every platform -->

	<!-- Bootcards CSS for iOS:
      <link rel="stylesheet" href="/bootcards/dist/css/bootcards-ios.min.css"/>
      -->
	<!-- Bootcards CSS for Android:
      <link rel="stylesheet" href="/bootcards/dist/css/bootcards-android.min.css"/>
      -->

	<!-- Bootcards CSS for desktop: -->
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
	<link id="app-styles" rel="stylesheet" href="/bootcards/dist/css/bootcards-desktop.min.css"/>
	<link rel="stylesheet" href="bootcards-site.css"/>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css"/>

	<link rel="stylesheet" href="http://bootcards.org/public/bower_components/morris.js/morris.css"/>
	<link rel="stylesheet" href="css/font-awesome.css"/>
	<link rel="stylesheet" href="style.css"/>

	<!-- 3rd party libs - Bootstrap and Bootcards JS -->
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular-route.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bootcards/dist/js/bootcards.js"></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>


	<!-- Plugin -->
	<script src="/angular-bootcards.min.js"></script>

	<!-- Demo js -->
	<script src="app.js"></script>

</head>

<body ng-controller="AppCtrl" data-spy="scroll" data-target=".docs-nav">


<ul id="style-switcher">
	<li><a href="" class="" data-carousel="#carousel-ios" ng-click="changeStyle('ios')"> <i class="fa fa-apple"></i> iOS</a></li>
	<li><a href="" class="" data-carousel="#carousel-android" ng-click="changeStyle('android')"> <i class="fa fa-android"></i> Android </a></li>
	<li><a href="" class="" data-carousel="#carousel-desktop" ng-click="changeStyle('desktop')"> <i class="fa fa-desktop"></i> Desktop </a></li>
</ul>


<bc-navbar ng-model="App"></bc-navbar>
<div class="container">
	<bc-sidebar ng-model="App"></bc-sidebar>
	<div ng-view></div>
	<bc-footerbar ng-model="App"></bc-footerbar>
</div>

<!--recommended: FTLabs FastClick library-->
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

<script type="text/javascript">
	/*
	 * Initialize Bootcards.
	 *
	 * Parameters:
	 * - offCanvasBackdrop (boolean): show a backdrop when the offcanvas is shown
	 * - offCanvasHideOnMainClick (boolean): hide the offcanvas menu on clicking outside the off canvas
	 * - enableTabletPortraitMode (boolean): enable single pane mode for tablets in portraitmode
	 * - disableRubberBanding (boolean): disable the iOS rubber banding effect
	 * - disableBreakoutSelector (boolean) : for iOS apps that are added to the home screen:
	 jQuery selector to target links for which a fix should be added to not
	 allow those links to break out of fullscreen mode.
	 */
	bootcards.init( {
		offCanvasBackdrop : true,
		offCanvasHideOnMainClick : true,
		enableTabletPortraitMode : true,
		disableRubberBanding : true
	});
	//enable FastClick
	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>

</body>

</html>
