	<div class="jumbotron jumbotron-main">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center intro">
						<h1>Angular Bootcards</h1>
						<p>
							AngularJS cards-based UI with dual-pane capability for mobile and desktop, built on top of Bootstrap
						</p>

						<div class="btn-group">
							<a href="" class="btn btn-default active" data-carousel="#carousel-ios" ng-click="changeStyle('ios')"> <i class="fa fa-apple"></i> iOS </a>
							<a href="" class="btn btn-default" data-carousel="#carousel-android" ng-click="changeStyle('android')"> <i class="fa fa-android"></i> Android </a>
							<a href="" class="btn btn-default" data-carousel="#carousel-desktop" ng-click="changeStyle('desktop')"> <i class="fa fa-desktop"></i> Desktop </a>
						</div><!--/btn-group-->
					</div><!--/col-->
				</div>
			</div>

			<div class="jumbotron subheader">
				<div class="container text-center">
					<div class="row">
						<a href="https://github.com/jonniespratley/angular-bootcards/archive/master.zip" target="_blank" class="btn btn-link"> <i class="fa fa-download fa-2x"></i> Download (v1.0)</a>
						<a href="https://github.com/jonniespratley/angular-bootcards" target="_blank" class="btn btn-link"><i class="fa fa-github fa-2x"></i> GitHub Project</a>
						<a href="#/demo" target="_blank" class="btn btn-link"><i class="fa fa-mobile-phone fa-2x"></i> Demo App</a>
						<a href="https://twitter.com/jonniespratley" target="_blank" class="btn btn-link"><i class="fa fa-twitter fa-2x"></i> Follow @jonniespratley</a>
					</div><!--/row-->
				</div><!--/container-->
			</div><!--/jumbotron-->
		</div>
		
		
		
		<bc-sidebar title="Menu">This is the sidebar</bc-sidebar>

