<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
				<i class="fa fa-lg fa-chevron-left"></i>
				<span>Back</span>
			</button>
			<button type="button" class="btn btn-default btn-menu pull-left offcanvas-toggle" data-toggle="offcanvas">
				<i class="fa fa-lg fa-bars"></i>
				<span>Menu</span>
			</button>
			<a class="navbar-brand" title="{{ngModel.title}} v{{ngModel.version}}" href="/">{{ngModel.title}}</a>
		</div>
		<div class="navbar-collapse collapse">

			<ul class="nav navbar-nav navbar-right bootcards-nav-secondary" ng-if="ngModel.subnav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-expanded="false">
				<i class="fa fa-globe"></i>
				Themes <span class="caret"></span>
			</a>

			<ul class="dropdown-menu" role="menu">
				<li><a href="" class="" data-carousel="#carousel-ios" ng-click="changeStyle('ios')"> <i class="fa fa-apple"></i> iOS</a></li>
				<li><a href="" class="" data-carousel="#carousel-android" ng-click="changeStyle('android')"> <i class="fa fa-android"></i> Android </a></li>
				<li><a href="" class="" data-carousel="#carousel-desktop" ng-click="changeStyle('desktop')"> <i class="fa fa-desktop"></i> Desktop </a></li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-fw fa-lock"></i>
				Login
			</a>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right bootcards-nav-primary">

		<li ng-class="{'dropdown':item.children ? true : false}" ng-repeat="item in ngModel.nav">

			<a href="{{item.href}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="fa fa-{{item.icon}}"></span>
				{{item.title}}
				<span class="caret" ng-if="item.children"></span>
			</a>

			<ul class="dropdown-menu" role="menu" ng-if="item.children">
				<li><a href="#"><i class="fa fa-fw fa-envelope-o"></i> Action</a></li>
				<li><a href="#"><i class="fa fa-fw fa-film"></i> Another action</a></li>
				<li><a href="#"><i class="fa fa-fw fa-file-o"></i> Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Separated link</a></li>
			</ul>
		</li>

	</ul>

		</div>
	</div>
</div>
